.banner {
  display: flex;
}

.text__container {
  width: 40%;
  margin-top: 10%;
  margin-left: 20px;
}

.teams__container {
  width: 40%;
  margin-top: 10%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}

.team__text {
  font-size: 1rem;
  padding: 5px;
}

.team__text > span {
  font-size: 1.3rem;
  cursor: pointer;
  color: #5fd70f;
}

.team__text > span:hover {
  text-decoration: underline;
}

.text__container > h1 {
  font-size: 2.8rem;
  color: #2b2b2b;
}

.text__container > p {
  font-size: 1.3rem;
  color: #5fd70f;
}

.img__container {
  width: 60%;
}

.img__banner {
  max-height: 448px;
  object-fit: contain;
  width: 100%;
}

.search__btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #2b2b2b;
  background-color: #5fd70f;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
